<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Account_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <Account_Manager.Properties.Settings>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>500, 300</value>
      </setting>
      <setting name="SiteWidth" serializeAs="String">
        <value>108</value>
      </setting>
      <setting name="EmailWidth" serializeAs="String">
        <value>128</value>
      </setting>
      <setting name="UserWidth" serializeAs="String">
        <value>74</value>
      </setting>
      <setting name="PassWidth" serializeAs="String">
        <value>123</value>
      </setting>
    </Account_Manager.Properties.Settings>
  </userSettings>
</configuration>